/**
 * Brave Love Admin Styles
 */

/* CPT 图标样式 */
#menu-posts-moment .wp-menu-image::before {
    content: '💖';
    font-family: inherit;
}

#menu-posts-love_list .wp-menu-image::before {
    content: '📜';
    font-family: inherit;
}

#menu-posts-note .wp-menu-image::before {
    content: '📝';
    font-family: inherit;
}
